<footer>
        <nav>
            <a href="https://github.com/MalikH970214" target="_blank">GitHub</a>
            <a href="https://www.freecodecamp.org/Malik_H97" target="_blank">freeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/bit5872199153" target="_blank">Codecademy</a>
            <a href="https://jsfiddle.net/u/Malik_H97/fiddles/" target="_blank">JSFiddle</a>
            <a href="https://www.linkedin.com/learning/?u=76141674" target="_blank">LinkedIn Learning</a>
        </nav>

        <p>
            <a href="https://validator.w3.org/check?uri=referer" target="_blank">Validate HTML</a>
            |
            <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">Validate CSS</a>
        </p>

        <p>Page built by M.H. Web Design Co.</p>

        <script src="https://lint.page/kit/880bd5.js" crossorigin="anonymous"></script>
    </footer>
